---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Publications</h2>
<ul>
  <li><a href="/papers/halo_paper">Hazard-Aware Landing Optimization for Autonomous Systems</a></li>
</ul>

<h2>Journal Publications</h2>
<ul>
  <li><a href="/papers/los/">Continuous Time Linf-of-Sight Guidance for Six Degree of Freedom Systems</a></li>
</ul>

<div class="plotly_container" style="width: 48%; margin: 10px 0;">                        
  <script type="text/javascript">window.PlotlyConfig = {MathJaxConfig: 'local'};</script>
  <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.34.0.min.js"></script>                
  <div id="a11b025f-6651-427b-9f86-4a9fb4e73294" class="plotly-graph-div" style="height:45%; width:100%;"></div>            
  <script src="https://bliaux.pnwsoft.com/dr_conic_animation.js"></script>
</div> 

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% if post.image %}
        <img src="{{ site.baseurl }}{{ post.image }}" alt="Publication image" width="300">
      {% endif %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% if post.image %}
      <img src="{{ site.baseurl }}{{ post.image }}" alt="Publication image" width="300">
    {% endif %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}